.DS_Store
dataset_90810pairs_100points.hdf5
dataset_90810pairs_100points_backup.hdf5
dataset_90810pairs_100points_1643730932.hdf5
dataset_90810pairs_250points_center_1643970542.hdf5
*/.DS_Store
dataset_90810pairs_500points_center_1643973519.hdf5
dataset_90810pairs_1000points_center_1644143898.hdf5
dataset_90810pairs_250points_center_random_1644586125.hdf5
dataset_90810pairs_250points_center_random_1644588329.hdf5
dataset_90810pairs_500points_center_random_1644842857.hdf5
dataset_90810pairs_250points_center_random_normals.hdf5
dataset_181455pairs_250points_center_random_normals.hdf5
dataset_181455pairs_250points_center_random_normals.hdf5
dataset_181455pairs_250points_center_random_normals_chunk.hdf5
dataset_271627pairs_250points_center_random_normals_chunk_alpha5.hdf5
dataset_179608pairs_250points_center_random_normals_chunk_alpha1.hdf5
dataset_179608pairs_500points_center_random_normals_chunk_alpha1.hdf5
dataset_179608pairs_100points_center_random_normals_chunk_alpha1.hdf5
